src/main/resources/log4j.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT log4j:configuration (renderer*, appender*, logger*, category*, root?)>
<!ATTLIST log4j:configuration
  xmlns:log4j CDATA #FIXED "http://jakarta.apache.org/log4j/"
  debug (true|false) "false"
  threshold (ALL|TRACE|DEBUG|INFO|WARN|ERROR|FATAL|OFF|all|trace|debug|info|warn|error|fatal|off) "all"
>

<!ELEMENT renderer EMPTY>
<!ATTLIST renderer
  renderedClass CDATA #REQUIRED
  renderingClass CDATA #REQUIRED
>

<!ELEMENT appender (param*, layout?, filter*, errorHandler?, appender-ref*)>
<!ATTLIST appender
  name CDATA #REQUIRED
  class CDATA #REQUIRED
>

<!ELEMENT layout (param*)>
<!ATTLIST layout
  class CDATA #REQUIRED
>

<!ELEMENT logger (level?, priority?, appender-ref*, additivity?)>
<!ATTLIST logger
  name CDATA #REQUIRED
  additivity (true|false) "true"
>

<!ELEMENT level EMPTY>
<!ATTLIST level
  value (ALL|TRACE|DEBUG|INFO|WARN|ERROR|FATAL|OFF|all|trace|debug|info|warn|error|fatal|off) #REQUIRED
  class CDATA #IMPLIED
>

<!ELEMENT priority EMPTY>
<!ATTLIST priority
  value (ALL|TRACE|DEBUG|INFO|WARN|ERROR|FATAL|OFF|all|trace|debug|info|warn|error|fatal|off) #REQUIRED
  class CDATA #IMPLIED
>

<!ELEMENT root (level?, priority?, appender-ref*)>

<!ELEMENT appender-ref EMPTY>
<!ATTLIST appender-ref
  ref CDATA #REQUIRED
>

<!ELEMENT param EMPTY>
<!ATTLIST param
  name CDATA #REQUIRED
  value CDATA #REQUIRED
>

<!ELEMENT category (level?, priority?, appender-ref*)>
<!ATTLIST category
  name CDATA #REQUIRED
  additivity (true|false) "true"
>

<!ELEMENT filter (param*)>
<!ATTLIST filter
  class CDATA #REQUIRED
>

<!ELEMENT errorHandler (param*, root-ref?, logger-ref*)>
<!ATTLIST errorHandler
  class CDATA #REQUIRED
>

<!ELEMENT logger-ref EMPTY>
<!ATTLIST logger-ref
  ref CDATA #REQUIRED
>

<!ELEMENT root-ref EMPTY>